
:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  width: 3px;  
  height: 6px;
  background-color: #e2e8f0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  width: 3px;  
  height: 3px;  
  background-color: #98a1af;
  border-radius: 6px;
}

.dark ::-webkit-scrollbar {
  background-color: #101828;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #99a1af; 
}

.theme-loading body {
  display: none;
}
