
:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-color 0.3s ease, 
              color 0.3s ease, 
              border-color 0.3s ease, 
              box-shadow 0.3s ease, 
              fill 0.3s ease, 
              stroke 0.3s ease;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
  width: 3px;  
  height: 6px;
  background-color: #0e162a;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  width: 3px;  
  height: 3px;  
  background-color: #99a2b0;
  border-radius: 6px;
}

.theme-loading body {
  display: none;
}
